{% extends 'app/base.html' %}

{% block title %}
  Login
{% endblock %}

{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Reset password completed ! </h3>
    
      <!-- Add iframe here -->
      <div>
        <iframe src="https://giphy.com/embed/lQUFZfcoNNigNeZOBr" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

        {% comment %} <iframe src="https://giphy.com/gifs/Kyocera-DS-LMKpy6T1ZEEca0jTUA" width="200" height="200" frameborder="0" class="giphy-embded" allowfullscreen></iframe> {% endcomment %}
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
